/* App.css */

body{ 
  background-color: #d8d3f2; 
  } 
  
  .navbar{ 
  width : 59vw; 
  text-decoration: none; 
  height: 5vh; 
  top: 0%; 
  position: fixed; 
  } 
  
  .qform{ 
  margin-top: 10vh; 
  margin-bottom: 5vh; 
  z-index: 0; 
  } 
  .badge{ 
  color: black; 
    
  } 
  
  .footer { 
  background-color: green; 
  position: fixed; 
  width: 100%; 
  bottom: 0; 
  color: white; 
  }

  .start-card {
    width: 100vh;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    margin-left: 50vh;
    margin-top: 15vh;
    border-radius: 20px;
  }

  .card {
    border-radius: 20px;
  }

  .link {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .btn {
    width: 10rem;
    height: 3rem;
    background-color: blue;
    border-radius: 5px;
    color: white;
    font-size: larger;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  